<% if @post.errors.any? %>
  <div>
    <p><%= pluralize(@post.errors.count, "errors") %> Prevent it form being saved.</p>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>